
.principal{background-color: cadetblue; height:611px;width: 17%;}
.contenedor{ width:100% ;}
.icon-title{padding: 20px;}
.titulo{margin-left: 10px;}
.icono{color: blue;}

.navegador ul li{
    margin: 25px;
}

