.Principal1{width: 100%;height: 60px;}
.contenedor1{padding: 15px}
.planeta, .paleta{margin-left: 15px;}
.b-busqueda{margin-left: 20px;}
.b-busqueda input{width: 120px;}
.navegador1{margin-left: 570px;}
.navegador1 ul li{margin: 0px 0px 0px 35px;}

.contenedor2{width: 100%;height: 100px;display:flex;justify-content:space-around;}
.cuadro1{background-color: white; width: 270px;height: 138px;border-radius: 4px;margin-top: 20px ;border: 1px solid rgb(219, 233, 219) ;}
.icono-tex{border-bottom-width: 1px;width: 250px;margin-left: 10px;}
.icono1{font-size: 40px;color: orange;padding: 15px;}
.icono3{font-size: 40px;color: rgb(21, 216, 109);padding: 15px;}
.icono4{font-size: 40px;color: rgb(216, 21, 21);padding: 15px;}
.texto{margin-left: 70px;text-align: end;padding: 10px;}
.texto1{margin-left: 110px;text-align: end;padding: 10px;}
.texto1 h1{color:rgb(171, 184, 171);}
.texto1 h2{font-size: 30px;}
.texto h1{color:rgb(171, 184, 171); ;}
.texto h2{font-size: 30px;}
.icono-tex1{padding: 10px 0px;margin-left: 14px;color: rgb(171, 184, 171);}
.Update{margin-left: 5px;}

.contenedor3{width: 100%;margin-top: 80px;}
.cuadro2{width:65%;height:371px;margin-left: 11px;border: 1px solid rgb(219, 233, 219); border-radius: 5px;}
.cuadro3{width:32%;height:368px;margin-left: 11px;border: 1px solid rgb(219, 233, 219); border-radius: 5px;}
.colors-cl{border-bottom-width: 1px;width: 735px;margin-left: 10px;margin-top: 10px;padding: 5px;}
.colors-cl1{border-bottom-width: 1px;width: 350px;margin-left: 10px;margin-top: 10px;padding: 5px;}
.texto3{padding: 10px;}
.texto3 h2{font-size: 25px;}
.texto3 h1{font-size: 14px;}
.cuadro2 img{width: 90%;height: 200px;margin-left: 35px;}
.cuadro3 img{width: 60%;height: 200px;margin-left: 70px;}
.circulo{width: 14px;height: 14px;background-color:blue;border-radius: 20px;border: 1px solid;margin-left: 5px;}
.circulo1{width: 14px;height: 14px;background-color:red;border-radius: 20px;border: 1px solid;margin-left: 5px;}
.circulo2{width: 14px;height: 14px;background-color:orange;border-radius: 20px;border: 1px solid;margin-left: 5px;}
.colors-cl h1{margin-left: 3px; font-size: 14px;}
.colors-cl1 h1{margin-left: 3px; font-size: 14px;}